@model MVCProyectoNFT.Application.DTOs.PaisDTO

@{
    ViewData["Title"] = "Delete";
}

<br />

<h1>Eliminar</h1>

<br />

<h3>¿Esta seguro que desea borrar este pais?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a href="/Pais" class="btn btn-outline-primary">
            Volver
        </a>
    </form>
</div>
