@model MVCProyectoNFT.Application.DTOs.TipoTarjetaDTO

@{
    ViewData["Title"] = "Details";
}

<br />

<h1>Detalle Tarjeta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoTarjeta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoTarjeta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrpcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrpcion)
        </dd>
    </dl>
</div>
<div>
    <a href="/TipoTarjeta" class="btn btn-outline-primary">
        Volver
    </a>
</div>
