<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Formulario de Calificación</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Carné</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>208480511 - 402580816</td>
                        <td>Miguel David Santamaria Obando - Kate Dayana Campos Vindas</td>
                        <td>16 - 04 - 24</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="5">Detalle</th>
                    </tr>
                    <tr>
                        <th>N°</th>
                        <th>Puntos a Evaluar</th>
                        <th>Puntos</th>
                        <th>Autoevaluación</th>
                        <th>Calificación Profesor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Registros Ejemplo</td>
                        <td>10 pts</td>
                        <td>10 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Diseño de la Arquitectura del Software, estándares serilog, mensaje toastr, control de errores.</td>
                        <td>10 pts</td>
                        <td>7 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Seguridad</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Mantenimientos</td>
                        <td>25 pts</td>
                        <td>23 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a- Cliente</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b- Activos NFT</td>
                        <td>10 pts</td>
                        <td>8 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c- Tarjetas</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>d- País</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Procesos</td>
                        <td>20 pts</td>
                        <td>20 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>a- Venta NFT</td>
                        <td>10 pts</td>
                        <td>10 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>b- Anulación</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>c- Cambio Propietario NFT</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Rest API</td>
                        <td>10 pts</td>
                        <td>10 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Consulta de NFT: a- Nombre del NFT</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Consulta de NFT: b- Listado de NFT</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Reportes</td>
                        <td>15 pts</td>
                        <td>15 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Defensa del Proyecto</td>
                        <td>5 pts</td>
                        <td>5 pts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td>100 pts</td>
                        <td>95</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Porcentaje</td>
                        <td>30 %</td>
                        <td>28.5%</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>